<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>UPRM Document Management System</title>

    <!-- Bootstrap Core CSS -->
    <link href="../static/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../static/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">

    <!-- Timeline CSS -->
    <link href="../static/dist/css/timeline.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../static/bower_components/morrisjs/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../static/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- jQuery -->
    <script src="../static/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Modal Style -->
    <link rel="stylesheet" href="static/css/modal.css">

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                
                <a class="navbar-brand" href="\student" onclick="getAllDocuments()">UPRM Document Management System</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i><i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
        </nav>

        

        <div id="page-wrapper" style="min-height: 471px;margin-left: 0px;">
            <div class="row">
                <div class="col-lg-12">
                    <h1 id="page_header" class="page-header"><span id="title"></span></h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
           
            <!-- Trigger/Open The Modal -->
            <!-- <button id="myBtn">Open Modal</button> -->

            <!-- The Modal -->
            <div class="row">
                <div id="myModal" class="modal" style="">

                  <!-- Modal content -->
                  <div class="modal-content">
                    <div class="modal-header">
                      <span class="close">×</span>
                      <h2 id="modal_title">Modal Header</h2>
                    </div>
                    <div class="modal-body" id="modal_body">
                      <!-- <p>Some text in the Modal Body</p>
                      <p>Some other text...</p> -->
                    </div>
                    <div class="modal-footer">
                    </div>
                  </div>

                </div>
            </div>

            <!-- /.row -->
             <!-- /.panel-heading -->
            <h4>Sent by <small id="sendee">Sender</small></h4>
            <h4>Action Required 
                <button id="action_button" class="btn btn-success" onclick="showSendModal()">
                    <span id="action_title"></span>
                </button>
                <small><span id="title_action"></span></small><input id="checkbox_type" type="checkbox" value=""><br>
            </h4>
            <h4>Message <small id="doc_message">Message</small></h4>
            <button id="action_button2" class="btn btn-success" >
                <span id="action_title2"></span>
            </button>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel panel-green"> 
                            <div class="panel-heading" >
                                Document Details
                            </div>
                            <div class="panel-body">
                                <div class="dataTable_wrapper" id="panel_content">
                                    <label>Name:</label><span id="name"> name</span>
                                    <br>
                                     <label>Requester: </label><span id="requester">Request</span>
                                    <br>
                                    <label>Faculty:</label><span id="faculty">Faculty</span>
                                    <br>
                                    <label>Major:</label><span id="major">Major</span>
                                    <br>
                                    <label>Status: </label><span id="status">Status</span>
                                    <br>
                                    <label>Request Type: </label><span id="type">Type Request</span>
                                    <br>
                                    <label id="lbadvisor">Advisor:</label><span id="advisor"> Advisor</span>
                                    <br>
                                    <label id="lbdeparture_date">Departure Date: </label><span id="departure_date">Departure Date</span>
                                    <br>
                                    <label id="lbreturn_date">Return Date: </label><span id="return_date">Return Date</span>
                                    <br>
                                    <label id="lbpurpose">Purpose: </label><span style="padding-left:47px;" id="purpose"></span>
                                    <br>
                                    <label id="lbtTravelLocation">Travel Location: </label><span id="travel_Location"></span>
                                    <br>




                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel panel-green"> 
                            <div class="panel-heading" >
                                Document History
                            </div>
                            <div class="panel-body">
                                <div class="dataTable_wrapper">

                                    <table class="table table-striped table-bordered table-hover" id="document_table">
                                        <script>

                                            // Global variables
                                            var table = document.getElementById("document_table");
                                            var header = table.createTHead();
                                            var global_action = ""
                                            
                                            var doc_id = '{{document_id}}';
                                            console.log(doc_id);

                                            $('#action_button2').css("display","none");

                                            $('#checkbox_type').change(function(){
                                                var checked = $( "input:checked" ).length; // 0 = unchecked, 1 = check
                                                if (checked == 1){
                                                    $('#action_button2').css("display","block");
                                                }
                                                else{
                                                    $('#action_button2').css("display","none");
                                                }
                                            });

                                            // Inserting table header
                                            function insertTableHeaders() {

                                                var row = header.insertRow(0);
                                                var cell = row.insertCell(0);
                                                cell.innerHTML = "<strong>Status</strong>";
                                                cell = row.insertCell(1);
                                                cell.innerHTML = "<strong>Date</strong>";
                                                cell = row.insertCell(2);
                                                cell.innerHTML = "<strong>Edited by</strong>";
                                            }
                                            

                                            // Getting table values and inserting them
                                            $.getJSON("/_getDocumentHistory",
                                                {
                                                    document_id: doc_id
                                                },
                                                function (doc) {
                                                    
                                                    insertTableHeaders();
                                                    console.log(doc["history"]);
                                                    var doc_info = doc["history"][0]
                                                    index = doc["history"].length - 1;
                                                    var last_doc = doc["history"][index]
                                                    console.log(last_doc);
                                                    $('#title').text(doc_info.name);
                                                    var faculty = doc_info.faculty;
                                                    var major = doc_info.major;
                                                    var requester = doc_info.requester;
                                                    console.log(requester);
                                                    var advisor = doc_info.advisor;
                                                    var action = doc_info.action;
                                                    var message = last_doc.message;
                                                    console.log(message);
                                                    var name = doc_info.name;
                                                    var departure_date = doc_info.departure_date;
                                                    var return_date = doc_info.return_date;
                                                    var purpose = doc_info.purpose;
                                                    var status = doc_info.status;
                                                    var type = doc_info.type;
                                                    var travel_location = doc_info.travel_location;
                                                    
                                                    // Inserting for Travel Request
                                                    $('#faculty').text("\t"+faculty);
                                                    $('#major').text("\t"+major);
                                                    $('#requester').text("\t"+requester);
                                                    $('#sendee').text("\t"+advisor);
                                                    $('#action').text("\t"+action);
                                                    $('#doc_message').text("\t"+message);
                                                    $('#name').text("\t"+name);
                                                    $('#advisor').text("\t"+advisor);
                                                    $('#departure_date').text("\t"+return_date);
                                                    $('#return_date').text("\t"+departure_date);
                                                    $('#purpose').text("\t"+purpose);
                                                    $('#status').text("\t"+status);
                                                    $('#type').text("\t"+type);
                                                    $('#travel_Location').text("\t"+travel_location);

                                                    // Inserting for Assistantship Request
                                                    if (doc_info.type == "Assistantship Request"){
                                                        $("#departure_date").css("display","none");
                                                        $("#lbdeparture_date").css("display","none");
                                                        $("#return_date").css("display","none");
                                                        $("#lbreturn_date").css("display","none");
                                                        $("#purpose").css("display","none");
                                                        $("#lbpurpose").css("display","none");
                                                        $("#travel_Location").css("display","none");
                                                        $("#lbtTravelLocation").css("display","none");
                                                    }
                                                    
                                                    // Changing buttons based on action
                                                    
                                                    console.log(doc_info.action);
                                                    // console.log(typeof(doc_info.action) !=-1);
                                                    var user_type = 0;
                                                    if (doc_info.last_edited.indexOf("Student") !=-1 && doc["history"].length == 1){
                                                        user_type = 0;
                                                    }
                                                    else if (doc_info.last_edited.indexOf("Professor") !=-1 && doc["history"].length == 1){
                                                        console.log("Entre a Professor");
                                                        user_type = 1;
                                                    }
                                                    else if (doc_info.last_edited.indexOf("Assistant") !=-1 && doc["history"].length == 1){
                                                        console.log("Entre a Assistant");
                                                        user_type = 2;
                                                    }
                                                    else if (doc_info.last_edited.indexOf("Director") !=-1 && doc["history"].length == 1){
                                                        console.log("Entre a Director");
                                                        user_type = 3;
                                                    }
                                                    console.log(user_type);
                                                    if (doc_info.status == "Created" && doc["history"].length == 1){
                                                        $('#action_title').text("Send");
                                                        $('#action_button').attr("onclick","showSendModal("+doc_info.id+","+user_type+")");
                                                    }
                                                    if (last_doc.action == "Endose"){
                                                        $('#action_title').text("Endose");
                                                        $('#action_button').css("display","none");
                                                        $('#action_button').attr("value","verified");
                                                        $('#action_button2').attr("onclick","showSendActionModal("+doc_info.id+","+user_type+",\"Endorsed\")");
                                                        $('#action_title2').text("Send");
                                                        global_action = "endosed";

                                                    }
                                                    if (last_doc.action == "Sign"){
                                                        $('#action_title').text("Sign");
                                                        $('#action_button').css("display","none");
                                                        $('#action_button').attr("value","verified");
                                                        $('#action_button2').attr("onclick","showSendActionModal("+doc_info.id+","+user_type+",\"Signed\")");
                                                        $('#action_title2').text("Send");
                                                        global_action = "signed";
                                                    }
                                                    if (last_doc.action == "Authorize"){
                                                        $('#action_title').text("Authorize");
                                                        $('#action_button').css("display","none");
                                                        $('#action_button').attr("value","verified");
                                                        $('#action_button2').attr("onclick","showSendActionModal("+doc_info.id+","+user_type+",\"Authorized\")");
                                                        $('#action_title2').text("Send");
                                                        global_action = "authorized";
                                                    }
                                                    if (last_doc.action == "Verify"){
                                                        $('#title_action').text("Verify ");
                                                        $('#action_button').css("display","none");
                                                        $('#action_button').attr("value","verified");
                                                        $('#action_button2').attr("onclick","showSendActionModal("+doc_info.id+","+user_type+",\"Verified\")");
                                                        $('#action_title2').text("Send");
                                                        global_action = "verified";
                                                    }
                                                        
                                                
                                                    // Inserting Document history
                                                    for (var i = 0; i < doc["history"].length; i++){
                                                        // console.log(the_documents[i]);
                                                        // doc = the_documents[i]
                                                        var row = header.insertRow(i+1);
                                                        for (var j = 0; j < 3; j++){
                                                            var cell = row.insertCell(j);
                                                            if (j == 0){
                                                                cell.innerHTML = doc["history"][i].status
                                                            }
                                                            if (j == 1){
                                                                cell.innerHTML = doc["history"][i].date
                                                            }
                                                            if (j == 2){
                                                                cell.innerHTML = doc["history"][i].last_edited
                                                            }
                                                            
                                                        }
                                                    }
                                            });

                                            function showSendModal(doc_id,user_type){
                                                $('#myModal').css("display","block");
                                                $("#modal_title").text('Send Document');
                                                $('#modal_body').empty();

                                                console.log(doc_id);
                                                // console.log(doc_name);
                                                console.log(user_type);

                                                $.getJSON('/_getDocument',{
                                                        user_type: user_type,
                                                        doc_id: doc_id
                                                    },
                                                    function (document) {
                                                        console.log(document);
                                                        $("#m_title").text("\t"+document.name);
                                                    });

                                                console.log(user_type);

                                                $('#modal_body').append("<form role=\"form\">"+
                                                    "<div class=\"form-group\"> <br>"+
                                                        "<label>Document:</label>"+
                                                            "<span id=\"m_title\"></span>"+
                                                    "</div>" + 
                                                    "<div class=\"form-group\">"+
                                                        "<label>To:</label>"+
                                                        "<input type=\"email\" id=\"email\" class=\"form-control\" placeholder=\"Email\">"+
                                                    "</div>"+
                                                    "<div class=\"form-group\">"+
                                                        "<label>Action:</label>"+
                                                        "<select id=\"action\">" +
                                                            "<option value=\"authorize\">Authorize</option>"+
                                                            "<option value=\"verify\">Verify</option>"+
                                                            "<option value=\"sign\">Sign</option>"+
                                                            "<option value=\"endose\">Endose</option>"+
                                                        "</select>" +
                                                    "</div>"+
                                                    "<div class=\"form-group\">"+
                                                        "<label>Message:</label>"+
                                                        "<textarea id=\"message\" class=\"form-control\" rows=\"3\"></textarea>"+
                                                    "</div>"+
                                                    
                                                    "<div \"alert alert-success\">"+ 
                                                        "<input id=\"doc_id\" type=\"hidden\" value=\""+doc_id+"\"/>"+
                                                        "<input id=\"doc_user_type\" type=\"hidden\" value=\""+user_type+"\"/>"+
                                                        "<input id=\"1\" type=\"button\" value=\"Send\" class=\"btn btn-success\"  onclick=\"send();\" style=\"margin-left:930px;\"/>"+
                                                    "</div>"+
                                                    "</form>");
                                            } 

                                            function showSendActionModal(doc_id,user_type,action){
                                                $('#myModal').css("display","block");
                                                $("#modal_title").text('Send Document');
                                                $('#modal_body').empty();
                                                var checked = $( "input:checked" ).length; // 0 = unchecked, 1 = check
                                                console.log(checked);
                                                console.log(doc_id);
                                                // console.log(doc_name);
                                                console.log(user_type);
                                                
                                                $.getJSON('/_getDocument',{
                                                        user_type: user_type,
                                                        doc_id: doc_id
                                                    },
                                                    function (document) {
                                                        console.log(document);
                                                        $("#m_title").text("\t"+document.name);
                                                    });

                                                console.log(user_type);

                                                if (action == "Verified"){
                                                    var send_action = "verified";
                                                }

                                                $('#modal_body').append("<form role=\"form\">"+
                                                    "<div class=\"form-group\"> <br>"+
                                                        "<label>Document:</label>"+
                                                            "<span id=\"m_title\"></span>"+
                                                    "</div>" + 
                                                    "<div class=\"form-group\">"+
                                                        "<label>To:</label>"+
                                                        "<input type=\"email\" id=\"email\" class=\"form-control\" placeholder=\"Email\">"+
                                                    "</div>"+
                                                    "<div class=\"form-group\">"+
                                                        "<label>Action Performed:"+ 

                                                        "</label>"+
                                                        "<p>"+action+" Document</p>"+
                                                    "</div>"+
                                                    "<div class=\"form-group\">"+
                                                        "<label>Message:</label>"+
                                                        "<textarea id=\"message\" class=\"form-control\" rows=\"3\"></textarea>"+
                                                    "</div>"+
                                                    
                                                    "<div \"alert alert-success\">"+ 
                                                        "<input id=\"doc_action\" type=\"hidden\" value=\""+action+"\"/>"+
                                                        "<input id=\"doc_id\" type=\"hidden\" value=\""+doc_id+"\"/>"+
                                                        "<input id=\"doc_user_type\" type=\"hidden\" value=\""+user_type+"\"/>"+
                                                        "<input id=\"1\" type=\"button\" value=\"Send\" class=\"btn btn-success\"  onclick=\"sendAction();\" style=\"margin-left:930px;\"/>"+
                                                    "</div>"+
                                                    "</form>");
                                            } 

                                            // Get the modal
                                            var modal = document.getElementById('myModal');

                                            // Get the <span> element that closes the modal
                                            var span = document.getElementsByClassName("close")[0];

                                            // When the user clicks on <span> (x), close the modal
                                            span.onclick = function() {
                                                $('#myModal').css("display","none");
                                                $('#documents_button').css("display","block");
                                                $('#documents_received_button').css("display","block");
                                                $('#documents_sent_button').css("display","block");
                                            }

                                            // When the user clicks anywhere outside of the modal, close it
                                            window.onclick = function(event) {
                                                if (event.target == modal) {
                                                    $('#myModal').css("display","none");
                                                    $('#documents_button').css("display","block");
                                                    $('#documents_received_button').css("display","block");
                                                    $('#documents_sent_button').css("display","block");
                                                }
                                            }

                                            function send() {
                                                var email = $("#email").val();
                                                var message = $("#message").val();
                                                var doc_id = $('#doc_id').val();
                                                var action  = $('#action option:selected').text(); 
                                                var user_type = $('#doc_user_type').val();
                                                console.log(user_type);
                                                console.log(email);
                                                console.log(message);
                                                console.log(doc_id);
                                                console.log(action);

                                                if (email == "nestor.rodriguez@upr.edu" || email == "alida.minguela@upr.edu" || email == "jose.colom@upr.edu" || email == "jessica.cotrina@upr.du"){

                                                    // Student sending document case
                                                    if (email == "nestor.rodriguez@upr.edu"){
                                                        $.getJSON('/_sendDocument', 
                                                            { doc_id: doc_id,
                                                              user_type: user_type,
                                                              sent_to: email,
                                                              message: message,
                                                              action: action
                                                            },
                                                            function (sent) {
                                                                console.log(sent)
                                                                if (sent.status == 0){
                                                                    alert("Document Sent!");
                                                                    $('#myModal').css("display","none");
                                                                    window.history.back();
                                                                }
                                                                else {
                                                                    alert("ERROR! Cannot send document to \""+email+"\"");
                                                                    console.log(sent);
                                                                }
                                                          });
                                                    }

                                                    else if (email == "alida.minguela@upr.edu"){
                                                        console.log("Enviando a Alida");
                                                        $.getJSON('/_sendDocument', 
                                                            { doc_id: doc_id,
                                                              user_type: user_type,
                                                              sent_to: email,
                                                              message: message,
                                                              action: action
                                                            },
                                                            function (sent) {
                                                                console.log(sent)
                                                                if (sent.status == 0){
                                                                    alert("Document Sent!");
                                                                    $('#myModal').css("display","none");
                                                                    window.history.back();
                                                                }
                                                                else {
                                                                    alert("ERROR! Cannot send document to \""+email+"\"");
                                                                    console.log(sent);
                                                                }
                                                          });
                                                    }

                                                    else if (email == "jose.colom@upr.edu"){
                                                        $.getJSON('/_sendDocument', 
                                                            { doc_id: doc_id,
                                                              user_type: user_type,
                                                              sent_to: email,
                                                              message: message,
                                                              action: action
                                                            },
                                                            function (sent) {
                                                                console.log(sent)
                                                                if (sent.status == 0){
                                                                    alert("Document Sent!");
                                                                    $('#myModal').css("display","none");
                                                                    window.history.back();
                                                                }
                                                                else {
                                                                    alert("ERROR! Cannot send document to \""+email+"\"");
                                                                    console.log(sent);
                                                                }
                                                          });
                                                    }
                                                    else if (email == "jessica.cotrina@upr.edu"){
                                                        console.log("Enviando a Jessica Cotrina");
                                                        $.getJSON('/_sendDocument', 
                                                            { doc_id: doc_id,
                                                              user_type: user_type,
                                                              sent_to: email,
                                                              message: message,
                                                              action: action
                                                            },
                                                            function (sent) {
                                                                console.log(sent)
                                                                if (sent.status == 0){
                                                                    alert("Document Sent!");
                                                                    $('#myModal').css("display","none");
                                                                    window.history.back();
                                                                }
                                                                else {
                                                                    alert("ERROR! Cannot send document to \""+email+"\"");
                                                                    console.log(sent);
                                                                }
                                                          });
                                                    }

                                                
                                                    else {
                                                        alert("ERROR! Cannot send document to \""+email+"\"");
                                                    }  

                                                }  

                                                else {
                                                    alert("ERROR! Cannot send document to \""+email+"\"");
                                                }               
                                            }

                                            function sendAction(action) {
                                                var email = $("#email").val();
                                                var message = $("#message").val();
                                                var doc_id = $('#doc_id').val();
                                                var action  = $('#action option:selected').text(); 
                                                var user_type = $('#doc_user_type').val();
                                                var action = global_action;
                                                console.log(user_type);
                                                console.log(email);
                                                console.log(message);
                                                console.log(doc_id);
                                                console.log(action);

                                                if (email == "nestor.rodriguez@upr.edu" || email == "alida.minguela@upr.edu" || email == "jose.colom@upr.edu" || email == "jessica.cotrina@upr.du"){

                                                    // Student sending document case
                                                    if (email == "nestor.rodriguez@upr.edu"){
                                                        $.getJSON('/_sendDocument', 
                                                            { doc_id: doc_id,
                                                              user_type: user_type,
                                                              sent_to: email,
                                                              message: message,
                                                              action: action
                                                            },
                                                            function (sent) {
                                                                console.log(sent)
                                                                if (sent.status == 0){
                                                                    alert("Document Sent!");
                                                                    $('#myModal').css("display","none");
                                                                    window.history.back();
                                                                }
                                                                else {
                                                                    alert("ERROR! Cannot send document to \""+email+"\"");
                                                                    console.log(sent);
                                                                }
                                                          });
                                                    }

                                                    else if (email == "alida.minguela@upr.edu"){
                                                        console.log("Enviando a Alida");
                                                        $.getJSON('/_sendDocument', 
                                                            { doc_id: doc_id,
                                                              user_type: user_type,
                                                              sent_to: email,
                                                              message: message,
                                                              action: action
                                                            },
                                                            function (sent) {
                                                                console.log(sent)
                                                                if (sent.status == 0){
                                                                    alert("Document Sent!");
                                                                    $('#myModal').css("display","none");
                                                                    window.history.back();
                                                                }
                                                                else {
                                                                    alert("ERROR! Cannot send document to \""+email+"\"");
                                                                    console.log(sent);
                                                                }
                                                          });
                                                    }

                                                    else if (email == "jose.colom@upr.edu"){
                                                        $.getJSON('/_sendDocument', 
                                                            { doc_id: doc_id,
                                                              user_type: user_type,
                                                              sent_to: email,
                                                              message: message,
                                                              action: action
                                                            },
                                                            function (sent) {
                                                                console.log(sent)
                                                                if (sent.status == 0){
                                                                    alert("Document Sent!");
                                                                    $('#myModal').css("display","none");
                                                                    window.history.back();
                                                                }
                                                                else {
                                                                    alert("ERROR! Cannot send document to \""+email+"\"");
                                                                    console.log(sent);
                                                                }
                                                          });
                                                    }
                                                    else if (email == "jessica.cotrina@upr.edu"){
                                                        console.log("Enviando a Jessica Cotrina");
                                                        $.getJSON('/_sendDocument', 
                                                            { doc_id: doc_id,
                                                              user_type: user_type,
                                                              sent_to: email,
                                                              message: message,
                                                              action: action
                                                            },
                                                            function (sent) {
                                                                console.log(sent)
                                                                if (sent.status == 0){
                                                                    alert("Document Sent!");
                                                                    $('#myModal').css("display","none");
                                                                    window.history.back();
                                                                }
                                                                else {
                                                                    alert("ERROR! Cannot send document to \""+email+"\"");
                                                                    console.log(sent);
                                                                }
                                                          });
                                                    }

                                                
                                                    else {
                                                        alert("ERROR! Cannot send document to \""+email+"\"");
                                                    }  

                                                }  

                                                else {
                                                    alert("ERROR! Cannot send document to \""+email+"\"");
                                                }               
                                            }
                                    </script>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                            <!-- /.table-responsive -->
        </div>  
        <!-- /#wrapper -->
    </div>
    

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../static/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../static/dist/js/sb-admin-2.js"></script>

</body>

</html>